<p>
  <% if signed_in? %>
    <%= link_to "Sign Out", sign_out_path, method: :DELETE %>
  <% else %>
    <%= link_to "sign_in", sign_in_path %>
  <% end %>

</p>

<section>
      <h1>Midmark</h1>
  <aside>

  </aside>

  <section>
    <% if signed_in? %>
      <%= form_for(Mark.new, method: :POST) do |f| %>
        <%= f.label :message %>
        <%= f.text_field :message %>
        <hr />
        <%= submit_tag %>
      <% end %>
    <% end %>
  </section>

  <article>
    <% @marks.each do |mark| %>
     <hr/>
      <p class="user">
        User: <%= mark.user.name %>
      </p>
      <p class="message">
        <%= mark.message %>
      </p>

    <% end %>
  </article>
</section>
